<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
                id="menu_root"
                name="Quản lý tài sản "
                sequence="0"
        />

        <menuitem
                name="Quản lý tài sản"
                id="menu_tai_san"
                parent="menu_root"
                sequence="1"
                action="action_tai_san"
        />

        <menuitem
                name="Danh mục"
                id="menu_danh_muc"
                parent="menu_root"
                sequence="2"
        />

        <menuitem
                name="Loại tài sản"
                id="menu_loai_tai_san"
                parent="menu_danh_muc"
                sequence="1"
                action="action_loai_tai_san"
        />
        <menuitem
                name="Vị trí"
                id="menu_vi_tri"
                parent="menu_danh_muc"
                sequence="2"
                action="action_vi_tri"
        />
        <menuitem
                name="Nhà cung cấp"
                id="menu_nha_cung_cap"
                parent="menu_danh_muc"
                sequence="3"
                action="action_nha_cung_cap"
        />

        <menuitem
                name="Quản lý phiếu"
                id="menu_quan_ly_phieu_lich_su"
                parent="menu_root"
                sequence="3"
        />

        <menuitem
                name="Phiếu mượn"
                id="menu_phieu_muon"
                parent="menu_quan_ly_phieu_lich_su"
                sequence="1"
                action="action_phieu_muon"
        />
        <menuitem
                name="Phiếu bảo trì"
                id="menu_phieu_bao_tri"
                parent="menu_quan_ly_phieu_lich_su"
                sequence="2"
                action="action_phieu_bao_tri"
        />
        <menuitem
                name="Phiếu điều chuyển"
                id="menu_phieu_dieu_chuyen"
                parent="menu_quan_ly_phieu_lich_su"
                sequence="3"
                action="action_phieu_dieu_chuyen"
        />
        <menuitem
                name="Phiếu thanh lý"
                id="menu_phieu_thanh_ly"
                parent="menu_quan_ly_phieu_lich_su"
                sequence="3"
                action="action_thanh_ly"
        />
        <menuitem
                name="Lịch sử điều chuyển"
                id="menu_lich_su_dieu_chuyen"
                parent="menu_quan_ly_phieu_lich_su"
                sequence="4"
                action="action_lich_su_dieu_chuyen"
        />
        <menuitem
                name="Lịch sử sử dụng"
                id="menu_lich_su_su_dung"
                parent="menu_quan_ly_phieu_lich_su"
                sequence="5"
                action="action_lich_su_su_dung"
        />
        <menuitem
                name="Lịch sử bảo trì"
                id="menu_lich_su_bao_tri"
                parent="menu_quan_ly_phieu_lich_su"
                sequence="6"
                action="action_lich_su_bao_tri"
        />
        <menuitem
                name="Khấu hao"
                id="menu_khau_hao"
                parent="menu_quan_ly_phieu_lich_su"
                sequence="6"
                action="action_khau_hao"
        />

        <menuitem id="menu_tai_san_statistics" name="Thống kê tài sản" parent="menu_root" sequence="20"/>

        <menuitem id="menu_tai_san_pie_trang_thai" name="Trạng thái tài sản (Pie)" parent="menu_tai_san_statistics"
                  action="action_tai_san_pie_trang_thai"/>
        <menuitem id="menu_tai_san_bar_gia_tri" name="Giá trị hiện tại (Bar)" parent="menu_tai_san_statistics"
                  action="action_tai_san_bar_gia_tri"/>
        <menuitem id="menu_lich_su_su_dung_line" name="Lịch sử sử dụng (Line)" parent="menu_tai_san_statistics"
                  action="action_lich_su_su_dung_line"/>
        <menuitem id="menu_tai_san_pie_nha_cung_cap" name="Nhà cung cấp (Pie)" parent="menu_tai_san_statistics"
                  action="action_tai_san_pie_nha_cung_cap"/>

    </data>
</odoo>